body{
	width: 100%;
	background-image:url(../images/bg_flat.png);
	background-position: center 0;
	background-repeat:repeat-y;
}

#boxHeader{
	width: 970px;
	height: 97px;
	z-index: 9999;
	
	margin: 20px auto;

}
.linha{
	border-top: 1px dashed #CCC;
	margin: 5px 0;
}
.clearboth{
	clear: both;
}
#header2{
	width: 100%;
	height: 62px;
	margin: auto;
	background-image:url(../images/header2_bg.jpg);
	background-repeat:repeat-x;
	position: fixed;
	top: -70px;
	z-index: 1500;
}
#header2 #box{
	width: 970px;
	height: 62px;
	margin: auto;
}

#header2 #box img#logo{
	margin-top: 5px;
	margin-left: 50xp;
}

#header2 #box ul#menu{
	float: left;
	margin-right: 0;
	margin-left: 55px;
	margin-top: 16px;
	
}

#header2 #box ul#menu li a {
	text-decoration: none;
	font-size: 14px;
	color: #E3989A;


	transition:color 0.3s;
	-moz-transition:color 0.3s; /* Firefox 4 */
	-webkit-transition:color 0.3s; /* Safari and Chrome */
	-o-transition:color 0.3s; /* Opera */	
}
#header2 #box ul#menu li a:hover {
	color: #FFF;
}


#OLDboxHeader{
	width: 970px;
	height: 97px;
	padding-bottom: 20px;
	padding-top: 30px;
	margin-left: -485px;	
	position:fixed;
	left: 50%;

	top: 0;
	z-index: 9999;
	background-color: #FFF;

}
#boxContent{
	width: 970px;
  margin: auto;
}

#boxFooter{
	width: 100%;
	min-height: 50px;
	background-color: #C00A0E;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#boxFooter h1{
	color: #FFF;
	background-image:url(../images/envelope.png);
}

#boxFooter #formulario{
	float: left;
	width: 445px;
	height: 250px;
	margin: 0 20px;
}
#boxFooter #formulario div.linha{
	width: 443px;
	min-height: 20px;
	position: relative;
}
#boxFooter #formulario div.linha label:not(.error){
	position: absolute;
	margin-left: 7px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	cursor: text;
	padding-top: 2px;
}
#boxFooter #formulario div.linha input.texto{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0 4px;
	border: 0;
	background-color: #FFF;
	height: 20px;
	line-height: 20px;
	width: 434px;
	margin-bottom: 10px;
	margin-right: 10px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

#boxFooter #formulario div.linha textarea{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 4px;
	border: 0;
	background-color: #FFF;
	height: 150px;
	width: 432px;
	margin-bottom: 10px;
	margin-right: 10px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

#boxFooter #formulario div.linha input#email{
	width: 240px;
}
#boxFooter #formulario div.linha input#telefone{
	width: 172px;
}
#boxFooter #formulario input#enviar{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
	background-color: #85070B;
	text-transform:uppercase;
	text-align:center;
	height: 25px;
	width: 140px;
	border: 0;
	margin-right: 2px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;		
}

#boxFooter #endereco{
	float: left;
	width: 288px;
	height: 230px;
	margin: 0 20px;
}
#boxFooter #texto{
	font-family: "CreteRoundItalic", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 21px;
	color: #FFF;
	text-align: center;
	display: block;
	padding: 35px 0;
}


#boxFooter span#telefone{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 31px;
	color: #FFFF00;
	text-align: center;
	display: block;
	padding: 10px 0;
}

.miolo{
	width: 970px;
	margin: auto;
}
.clearboth{
	clear: both;
}

.zoomOut{
  transform: scale(1);	
  -moz-transform: scale(1);
  -webkit-transform: scale(1);			
  -o-transform: scale(1);				
	
	transition:transform 0.3s;
	-moz-transition:-moz-transform 0.3s; /* Firefox 4 */
	-webkit-transition:-webkit-transform 0.3s; /* Safari and Chrome */
	-o-transition:-o-transform 0.3s; /* Opera */	
}

.zoomOut:hover{
	position: relative;
	z-index: 999;
	--animation-direction: alternate;
  transform: scale(1.05);	
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);			
  -o-transform: scale(1.05);				
}

*{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
h1{
	font-family: "CreteRoundItalic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #C00A0E;
	font-size: 26px;
	font-weight: bold !important;
	outline-width: normal !important;
	padding: 55px 0;
	padding-top: 35px;
}

h2{
	font-family: "CreteRoundItalic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 20px;
	font-weight: bold !important;
	outline-width: normal !important;
	padding: 10px 0;
	padding-top: 35px;
}
h1.contrate{
	color: #C00A0E;
}
p{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 14px;
	line-height: 23px;
	padding-bottom: 17px;
}
img#logo{
	float: left;
	margin-left: 50px;
}
ul#menu{
	float: right;
	margin-top: 40px;
	margin-right: 23px;
}
ul#menu li{
	float: left;
	text-decoration: none;
	padding: 0 10px;
}
ul#menu li a {
	text-decoration: none;
	font-size: 14px;
	color: #666;


	transition:color 0.3s;
	-moz-transition:color 0.3s; /* Firefox 4 */
	-webkit-transition:color 0.3s; /* Safari and Chrome */
	-o-transition:color 0.3s; /* Opera */	
}
ul#menu li a:hover {
	color: #C00A0E;
}

ul#menu li.contrate a{
	color: #C00A0E;
	font-weight: bold;
}



#boxContent #banners{
	width: 970px;
	height: 555px;
	padding: 20px 0;
	margin: auto;
}

#boxContent #banner-seta-esquerda{
	width: 32px;
	height: 46px;
	background-image:url(../images/seta-esquerda.png);
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor: pointer;
	position: absolute;
	z-index: 999;
	margin-top: 270px;
	margin-left: -62px;
}
#boxContent #banner-seta-esquerda:hover{
	background-position: -32px 0;
}
#boxContent #banner-seta-direita{
	width: 31px;
	height: 46px;
	background-image:url(../images/seta-direita.png);
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor: pointer;
	position: absolute;
	z-index: 999;
	margin-top: 270px;
	margin-left: 975px;
}
#boxContent #banner-seta-direita:hover{
	background-position: -32px 0;
}

#quem-ja-fez{
}
#quem-ja-fez li{
  width: 150px;
  height: 162px;
  float: left;
  margin: 10px;
}
#quem-ja-fez li span.titulo{
	display: block;
	text-align: center;
	text-transform: uppercase;

	transition:color 0.3s;
	-moz-transition:color 0.3s; /* Firefox 4 */
	-webkit-transition:color 0.3s; /* Safari and Chrome */
	-o-transition:color 0.3s; /* Opera */		
}
#quem-ja-fez li:hover span.titulo{
	color: #C00A0E;
}

#recursos{
}
#recursos li{

	border-bottom: 1px dashed #CCC;
	margin: 20px;	
	min-height: 145px;
	float: left;
	width: 445px;
}
#recursos li a{
	text-decoration: none;
}
#recursos li img.icone{
	float: left;
	margin: 0 15px;
}
#recursos li span.titulo{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #666;
	text-transform:uppercase;
	font-weight: bold;
	margin-left: 120px;
	display: block;
	
}
#recursos li span.descricao{
	margin-left: 120px;
	display: block;
}

#monitor_teste{
	float: left;
	margin: 0 15px;
}

#teste-chamada{
	display: block;
	text-align: center;
	font-size: 14px;
}
#teste-login{
	display: block;
	text-align: center;
  margin: 15px 0;
}
ul#teste-links{
	float: left;
	margin-left: 213px;
}
ul#teste-links li{
	float: left;
	margin: 0 26px;
}




#back-top {
	position: fixed;
	bottom: 430px;
	margin-left: 23px;
	width: 50px;
	height: 79px;

	opacity:0.4;

	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */			
}
#back-top:hover{
	opacity:1;
}

div.ancora{
	position: absolute;
	margin-top: -100px;
}

ul#social{
	position: fixed;
	right: 0;
	top: 164px;
	width: 27px;
	z-index: 999;
}
img#compartilhe{
	position: fixed;
	right: 14px;
	top: 200px;
	z-index: 990;
}

#copy{
	width: 970px;
	margin: auto;
	text-align:center;
	color: #E08587;
	padding-top: 15px;
	padding-bottom: 5px;
}
form#contato label.error{
	position: absolute;
	right: 0;
	background-color: #85070B;
	color: #FFF;
	font-size: 11px;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 0 6px;
	z-index: 999;
	margin-top: -28px;
	margin-right: 6px;
	line-height: 15px;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;	
}

#banner_controler{
	margin: auto;
	display: table;
}
#banner_controler a{
	font-size: 0;
	display: block;
	width: 13px;
	height: 13px;
	background-image: url(../images/banner_radio_off.png);
	background-repeat:no-repeat;
	margin: 0 7px;
	float: left;
}
#banner_controler a.activeSlide{
	background-image: url(../images/banner_radio_on.png);	
}


.ckeditor blockquote{
	font-family: "CreteRoundItalic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 17px;
	font-weight: normal !important;
	outline-width: normal !important;
	padding: 20px 65px;
	text-align: center;	
}
.ckeditor a.link{
	background-image:url(../images/link.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	margin: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #999;
	display: table;
	line-height: 27px;
	text-decoration: none;
	letter-spacing: 1px;
}
.ckeditor a.link:hover{
	color: #C00A0E;
}

.ckeditor p{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 14px;
	line-height: 23px;
	padding-bottom: 17px;
}
.ckeditor strong{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 14px;
}
.ckeditor em{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 14px;
}



.ckeditor a{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 14px;
	line-height: 23px;
	padding-bottom: 17px;
	text-decoration:underline;
}
.ckeditor a:hover{
	color: #C00A0E;
}


ul#news{
}
ul#news li{
	background-image: url(../images/news_bg.png);
	background-repeat:no-repeat;
	width: 162px;
	height: 250px;
	float: left;
	margin: 10px;

}
ul#news li a{
	text-decoration: none; !important;
}
ul#news li a img{
  margin: 6px 5px 5px;
}

ul#news li a span{
	color: #7F7F7F;
	font-family: 'LucidaGrande',sans-serif;
	font-size: 12px;
	text-align: center;
	display: block;
	text-decoration: none!important;
	margin-top: 10px;
}
ul#news li a:hover span{
	color: #C00A0E;
}


ul#news li a img{
	opacity:0.5;
  filter:alpha(opacity=50)			

	transition:filter 0.3s;
	-moz-transition:opacity 0.3s; /* Firefox 4 */
	-webkit-transition:opacity 0.3s; /* Safari and Chrome */
	-o-transition:opacity 0.3s; /* Opera */	
	
}

ul#news li a:hover img{
	opacity:1;
	filter:alpha(opacity=100)	
}